 .u-section-1 {
  min-height: 286px;
}

.u-section-1 .u-group-1 {
  margin-top: 1px;
  margin-bottom: 0;
  min-height: 285px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 143px 113px 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: -225px auto 121px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 286px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: 743px;
    margin-top: 141px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 547px;
}

.u-section-2 .u-group-1 {
  width: 749px;
  min-height: 427px;
  height: auto;
  margin: 15px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-image-1 {
  width: 306px;
  height: 306px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -391px auto 0 64px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px auto 0 133px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 60px 179px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-group-1 {
    width: 587px;
    min-height: 492px;
    margin-top: 43px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 319px;
    height: 319px;
    margin-top: -449px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 468px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -875px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-right: 264px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 311px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 464px;
    min-height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -871px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 402px;
    min-height: 711px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-top: -1027px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 698px;
  }
} .u-section-3 {
  background-image: url("images/banner13.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 388px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 43px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 8px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 720px;
  background-image: none;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-3 .u-image-1 {
  height: 441px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  margin: 31px 0 0 20px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 143px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 714px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-3 .u-text-9 {
  font-size: 3rem;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-form-1 {
  height: 464px;
  width: 424px;
  margin: 23px auto 0;
}

.u-section-3 .u-input-1 {
  height: 55px;
  background-image: none;
}

.u-section-3 .u-input-2 {
  height: 55px;
  background-image: none;
}

.u-section-3 .u-input-3 {
  background-image: none;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-3 .u-image-1 {
    height: 353px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 113px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-form-1 {
    width: 333px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 818px;
  }

  .u-section-3 .u-image-1 {
    height: 489px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 152px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 661px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-form-1 {
    width: 615px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-3 .u-image-1 {
    height: 385px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 194px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 687px;
  }

  .u-section-3 .u-form-1 {
    width: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-3 .u-image-1 {
    height: 257px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 214px;
    grid-gap: 5px 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
    width: 202px;
    margin-top: 23px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 16px;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-block-fee7-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-fee7-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-fee7-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-fee7-62:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-fee7-62:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}