 .u-section-1 {
  min-height: 748px;
}

.u-section-1 .u-image-1 {
  height: 746px;
  margin-top: 1px;
  margin-bottom: 0;
  filter: brightness(0.55);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 438px;
  margin: -696px calc(((100% - 1140px) / 2) + 351px) 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 670px;
  margin: 8px calc(((100% - 1140px) / 2) + 235px) 0;
}

.u-section-1 .u-gallery-1 {
  height: 535px;
  grid-gap: 17px 17px;
  width: 882px;
  margin: 8px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 79.56%;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 1140px) / 2) + 129px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-2 {
  min-height: 748px;
}

.u-section-2 .u-image-1 {
  height: 746px;
  margin-top: 1px;
  margin-bottom: 0;
  filter: brightness(0.55);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 438px;
  margin: -696px calc(((100% - 1140px) / 2) + 351px) 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 670px;
  margin: 8px calc(((100% - 1140px) / 2) + 235px) 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-3 {
  min-height: 748px;
}

.u-section-3 .u-image-1 {
  height: 746px;
  margin-top: 1px;
  margin-bottom: 0;
  filter: brightness(0.55);
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 438px;
  margin: -696px calc(((100% - 1140px) / 2) + 351px) 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 670px;
  margin: 8px calc(((100% - 1140px) / 2) + 235px) 0;
}

.u-section-3 .u-gallery-1 {
  height: 316px;
  grid-gap: 17px 17px;
  width: 521px;
  margin: 100px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 79.56%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-11 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-12 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-13 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-14 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-15 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-2 {
  height: 316px;
  grid-gap: 17px 17px;
  width: 521px;
  margin: -316px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-16 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-17 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-18 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-19 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-20 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-21 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-3 .u-back-image-22 {
  object-position: 50% 79.56%;
}

.u-section-3 .u-over-slide-22 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-23 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-24 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-25 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-26 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-27 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-28 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-29 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-29 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-item-30 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-30 {
  min-height: 100px;
  background-image: none;
  padding: 11px;
}

.u-section-3 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -379px calc(((100% - 1140px) / 2) + 687px) 0 calc(((100% - 1140px) / 2) + 68px);
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -39px calc(((100% - 1140px) / 2) + 68px) 0 calc(((100% - 1140px) / 2) + 687px);
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 364px auto 0 calc(((100% - 1140px) / 2) + 185px);
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -42px calc(((100% - 1140px) / 2) + 185px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 399px;
    height: 229px;
    margin-top: 92px;
    margin-left: calc(((100% - 940px) / 2) + 17px);
  }

  .u-section-3 .u-gallery-2 {
    height: 229px;
    width: 399px;
    margin-top: -229px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-top: -284px;
    margin-right: calc(((100% - 940px) / 2) + 555px);
    margin-left: calc(((100% - 940px) / 2));
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 555px);
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 259px;
    margin-left: calc(((100% - 940px) / 2) + 135px);
  }

  .u-section-3 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2) + 101px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 590px;
  }

  .u-section-3 .u-image-1 {
    height: 589px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -539px;
  }

  .u-section-3 .u-gallery-1 {
    width: 305px;
    height: 193px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-gallery-2 {
    height: 193px;
    width: 305px;
    margin-top: -193px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
    margin-top: -245px;
    margin-right: calc(((100% - 720px) / 2) + 385px);
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1.875rem;
    margin-top: -33px;
    margin-right: calc(((100% - 720px) / 2) + -25px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 220px;
    margin-left: calc(((100% - 720px) / 2) + 77px);
  }

  .u-section-3 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2) + 77px);
    margin-bottom: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-gallery-1 {
    width: 235px;
    height: 150px;
    margin-top: 79px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-gallery-2 {
    height: 149px;
    width: 235px;
    margin-top: -149px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -201px;
    margin-right: calc(((100% - 540px) / 2) + 255px);
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -26px;
    margin-right: calc(((100% - 540px) / 2) + -17px);
    margin-left: calc(((100% - 540px) / 2) + 287px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 191px;
    margin-left: calc(((100% - 540px) / 2) + 35px);
    padding: 0 19px 0 18px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2) + 54px);
    margin-bottom: 60px;
    padding: 0 19px 0 18px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 990px;
  }

  .u-section-3 .u-image-1 {
    height: 989px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -939px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-gallery-1 {
    width: 338px;
    height: 274px;
    margin-top: 115px;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-2 {
    height: 274px;
    width: 338px;
    margin-top: 136px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-top: -735px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
    margin-top: 384px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
    margin-top: -103px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 388px;
    margin-right: auto;
    margin-bottom: 39px;
  }
}