.u-section-1 .u-sheet-1 {
  min-height: 500px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Frame10.png");
  background-position: 50% 0%;
}

.container{
  max-width: 1520px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.u-section-2 .u-sheet-1 {
  min-height: 742px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 38px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1165px;
  margin: 37px -25px 51px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 22px 30px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 115px 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 162px;
  grid-gap: 25px 25px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-3 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-1 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-4 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-5 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-3 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-6 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-4 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-2 {
  width: 640px;
  margin: 19px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 162px;
  grid-gap: 25px 25px;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-7 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-5 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-12 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-8 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-6 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-14 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-9 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-7 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-15 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-16 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-10 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-8 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-18 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-3 {
  width: 308px;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  min-height: 162px;
  grid-gap: 25px 25px;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-11 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-9 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-19 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-20 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

.u-section-2 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-12 {
  padding: 3px 11px 0;
}

.u-section-2 .u-icon-10 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-21 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 13px 10px 0;
}

.u-section-2 .u-text-22 {
  font-size: 0.75rem;
  margin: 11px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 615px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 274px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(246, 245, 245) !important;
    padding: 15px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(246, 245, 245) !important;
    padding: 15px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(246, 245, 245) !important;
    padding: 15px;
  }

  .u-section-2 .u-icon-4 {
    padding: 15px;
  }

  .u-section-2 .u-list-2 {
    width: 517px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 18.75px));
    min-height: 131px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2028px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    min-height: 650px;
  }

  .u-section-2 .u-list-2 {
    width: 396px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 401px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2974px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1099px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2849px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 2200px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 789px;
  }

  .u-section-2 .u-icon-1 {
    padding: 0;
  }

  .u-section-2 .u-icon-2 {
    padding: 0;
  }

  .u-section-2 .u-icon-3 {
    padding: 0;
  }

  .u-section-2 .u-icon-4 {
    padding: 0;
  }

  .u-section-2 .u-list-2 {
    margin-top: 25px;
    width: 340px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 811px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-3 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 423px;
  }

  .u-section-2 .u-text-19 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 1.875rem;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-9,
.u-section-2 .u-list-item-9:before,
.u-section-2 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-9.u-list-item-9.u-list-item-9:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-10,
.u-section-2 .u-list-item-10:before,
.u-section-2 .u-list-item-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-10.u-list-item-10.u-list-item-10:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-7,
.u-section-2 .u-list-item-7:before,
.u-section-2 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7:hover:before {
  background-color: #db545a !important;
}

.u-section-2 .u-list-item-8,
.u-section-2 .u-list-item-8:before,
.u-section-2 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8:hover:before {
  background-color: #db545a !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Frame10.png");
  padding-bottom: 200px;
  /*background-position: 50% 0%;*/
}

.u-section-3 .u-sheet-1 {
  min-height: 743px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 38px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1165px;
  margin: 38px -25px 50px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 22px 30px;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 115px 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 35px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  width: 450px;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  width: 320px;
  margin: 6px auto 0;
}

.u-section-3 .u-group-2 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  width: 320px;
  margin: 6px auto 0;
}

.u-section-3 .u-group-3 {
  min-height: 34px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 20px;
}

.u-section-3 .u-group-4 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  width: 320px;
  margin: 6px auto 0;
}

.u-section-3 .u-group-5 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  width: 320px;
  margin: 0 auto;
}

.u-section-3 .u-group-6 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  width: 320px;
  margin: 0 auto;
}

.u-section-3 .u-group-7 {
  min-height: 34px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  width: 320px;
  margin: 0 auto;
}

.u-section-3 .u-group-8 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  width: 320px;
  margin: 0 auto;
}

.u-section-3 .u-group-9 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  width: 320px;
  margin: 0 auto;
}

.u-section-3 .u-group-10 {
  min-height: 35px;
  height: auto;
  width: 450px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: linear-gradient(#f1c50e, #f1b5b8);
  margin: 22px auto 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  width: 347px;
  margin: 5px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 615px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 1px;
    margin-left: 10px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-group-9 {
    height: auto;
  }

  .u-section-3 .u-text-11 {
    margin-right: 69px;
    margin-left: 61px;
  }

  .u-section-3 .u-group-10 {
    height: auto;
  }

  .u-section-3 .u-text-12 {
    margin-right: 69px;
    margin-left: 61px;
    width: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: 396px;
  }

  .u-section-3 .u-group-2 {
    width: 396px;
  }

  .u-section-3 .u-group-3 {
    width: 396px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 12px;
    margin-left: 4px;
  }

  .u-section-3 .u-group-4 {
    width: 396px;
  }

  .u-section-3 .u-group-5 {
    width: 396px;
  }

  .u-section-3 .u-group-6 {
    width: 396px;
  }

  .u-section-3 .u-group-7 {
    width: 396px;
  }

  .u-section-3 .u-group-8 {
    width: 396px;
  }

  .u-section-3 .u-group-9 {
    width: 396px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 42px;
    margin-left: 34px;
  }

  .u-section-3 .u-group-10 {
    width: 396px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 42px;
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
  }

  .u-section-3 .u-group-7 {
    width: 340px;
  }

  .u-section-3 .u-group-8 {
    width: 340px;
  }

  .u-section-3 .u-group-9 {
    width: 340px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 14px;
    margin-left: 6px;
  }

  .u-section-3 .u-group-10 {
    width: 340px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 14px;
    margin-left: 6px;
  }
}

.u-section-3 .u-group-2,
.u-section-3 .u-group-2:before,
.u-section-3 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-2.u-group-2.u-group-2:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-3,
.u-section-3 .u-group-3:before,
.u-section-3 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-3.u-group-3.u-group-3:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-4,
.u-section-3 .u-group-4:before,
.u-section-3 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-4.u-group-4.u-group-4:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-5,
.u-section-3 .u-group-5:before,
.u-section-3 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-5.u-group-5.u-group-5:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-6,
.u-section-3 .u-group-6:before,
.u-section-3 .u-group-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-6.u-group-6.u-group-6:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-7,
.u-section-3 .u-group-7:before,
.u-section-3 .u-group-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-7.u-group-7.u-group-7:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-8,
.u-section-3 .u-group-8:before,
.u-section-3 .u-group-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-8.u-group-8.u-group-8:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-9,
.u-section-3 .u-group-9:before,
.u-section-3 .u-group-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-9.u-group-9.u-group-9:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-group-10,
.u-section-3 .u-group-10:before,
.u-section-3 .u-group-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-10.u-group-10.u-group-10:hover:before {
  background-color: #db545a !important;
}.u-section-4 .u-sheet-1 {
  min-height: 391px;
}

.u-section-4 .u-image-1 {
  width: 274px;
  height: 274px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0 80px;
}

.u-section-4 .u-group-1 {
  width: 749px;
  min-height: 319px;
  height: auto;
  margin: -289px 18px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -23px auto 0 134px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 12px 179px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 66px;
    min-height: 622px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -675px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: auto;
    margin-bottom: 622px;
  }
}

/*forms*/

.container{
  max-width: 1550px !important;
    width: 100% !important;
    margin: 0 auto !important;
}
.container-contact {
  border-radius: 50px !important;
  padding: 20px !important;

}
 .column {
    float: left !important;
    width: 50% !important;
    color: white !important;
    padding: 10px 200px !important;
    }

.row2{
    display: flex !important;
    align-items: left !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding-top: 0px !important;
}


.u-section-6 .u-image-1 {
  height: 487px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.3);
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -470px auto 39px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 61px;
  min-height: 16px;
  width: 203px;
  min-width: 68px;
  margin: 30px 4px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/fddffd.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 418px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-form-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1030px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -426px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 53px;
    width: 178px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1022px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    height: 45px;
    width: 154px;
    margin-right: 7px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1325px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 757px;
  }

  .u-section-6 .u-image-1 {
    height: 757px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -736px;
    margin-left: auto;
    margin-bottom: 0;
  }

   .media-size{
    width: 100px;
    margin-right: 350px ;
    margin-top: -30px;
   }

   .media-size1{
    width: 325px !important;
    margin-bottom: 5px !important;
   }

   .media-size2{
    width: 325px !important;
    margin-bottom: 5px !important;
   }

   .media-size3{
    width: 325px !important;
    margin-bottom: 5px !important;
   }

   .media-size4{
    width: 325px !important;
    height: 50px !important;
   }


  .u-section-6 .u-text-1 {
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-social-icons-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-3 {
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}